---
layout: default
---
<!-- about section -->
<section>
    {{ content }}
</section>

<!-- project section-->
<section class="projects">
    <h2>Projects</h2>
    <ul>
        {% for project in site.data.info.projects %}
        <li>
            <a href="{{ project.url }}"><span>{{ project.title }}</span></a>
            <hr>
            <p>{{ project.description }}</p>
        </li>
        {% endfor %}
    </ul>
</section>

<!-- blog section-->
<section class="blog">
    <h2>Blog</h2>
    {% if site.posts.size > 0 %}
    <ul>
        {% for post in site.posts %}
        <li>
            <span>{{ post.date | date: "%m-%d-%Y" }}»</span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %} 
    <p>populate this lonely blog with some posts will ya?</p>
    {% endif %}
</section>
